/* CSS reset */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    }


/* ------------------Mobile first ----------------- */
@media (min-width: 320px){
    /* Footer container  */
    footer {
        display: flex;
        list-style: none;
        background-color: 	#634832;
        color: 	#ece0d1;
    }
    
    footer ul{
        list-style: none;
        display: flex;
    }
    /* premier section du footer */
    footer .members{
        display: none;
    }
    /* deuxieme section du footer links */
    footer .linksFootSection{
        display: none;
    }

    /* troisieme section du footer*/
    footer .othersFooter{
        flex-direction: column;
        margin-right: auto;
        width: 90%;
    }
    
    /* image Wild Code School */
    .othersFooterList{
        margin: 10px;
    }
    .othersFooter li:first-child{
        display: flex;
    }
    .othersFooter li:first-child img{
        margin: auto;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .wildImgFooter{
        margin: 4%;
        width: 100px;   
    }

    /* Footer click events */
    .othersFooterList a:link{
        color: 	#ece0d1;
    }
    .othersFooterList a:visited{
        color: 	#ece0d1;
    }

    
}

/* ---------- taille écran Ipad - ordinateur -----------  */
@media (min-width: 800px){
        

    /* premier section du footer */
    footer .members{
        display: block;
        align-items: center; 
        flex: 1 200px;
        padding: 1%;
    }
    /* spacing members */
    footer .members .member{
        margin: 10px;
    }
    /* members imgs */
    footer .members .member img{
        width: 10%;
        margin-right: 10px;
    }

    /* deuxieme section du footer links */
    footer .linksFootSection{
        display: block;
        text-align: center;
        flex: 2 200px;
        padding: 1%;
    }
    .linksFooter{
        margin: 10px;
    }

    /* troisieme section du footer*/
    footer .othersFooter{
        flex-direction: column;
        align-self: center;
        margin-right: 30px;
        /* margin-left: auto; --only in right side */
        flex: 1 200px;
        padding: 1%;
    }
    .othersFooter li:first-child img{
        margin: 0;
        margin-left: 10px;
    }
    .wildImgFooter{
        margin: 4%;
        width: 200px;   
    }
   

    /* Footer click events */
    .linksFooter a:link{
        text-decoration: none;
        color: 	#ece0d1;
    }

    .linksFooter a:visited{
        text-decoration: none;
        color: 	#ece0d1;
    }

    .linksFooter a:hover{
        text-decoration: underline;
        color: 	#ece0d1;
    }



}


