body {
    margin: 0;
    padding: 0;
}

section {
    margin: 4px;
    padding: 3px;
}

h1 {
    color: #dbc1ac;
    text-align: center;
}

h2 {
    color: #634832;
}

.nav__list {
    display: none;    
}

.nav__burger {    
    margin: 8px;
    border:none;
	padding:6px 6px 6px 6px;
	border-radius:20px;
	box-shadow:2px 2px 5px #aaa;
	background:#fff;
	font:bold 13px Arial;
	color: burlywood;
    display: block;
}

.nav__list--active {
    display: inline-block;
}

.nav__burger--active {
    transform: translateX(50);
    display: block;
}

.table_matieres {
    margin: 0;
    border: none;
    padding: 0;
}

ul {    
    text-decoration: none;
    color: #967259;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.Lienhtml {
    padding: 5px;
    color: #634832;
    cursor: pointer;
    text-decoration: none;
    }

li {
    padding: 5px;
    font-size: 120%;
}

h3 {
    font-size: 14px;
    color: #634832;
}

.photo_box {
    height: 100px;
    width: 280px;
}

.photo_box_2 {
    height: 100px;
    width: 220px;
}

.photo-principal {
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.icone_image {
    height: 30px;
    width: 30px;
}

.icones {    
    margin: 10px; 
    display: flex;
    justify-content: space-around; 
}

.paragraphe {
    line-height:10 px;
}

/* --- style pour les cheatSheets avec le code --- */
/* --- mobile et responsive ;) */
.codeCheat{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.codeCheat li {
    padding: 10px;
    flex: 1 300px;
    background-color: rgb(247, 235, 235);
    margin: 5px;
    padding-left: 30px;
}
.codeCheat li code{
    padding: 10px;
    background-color: rgb(235, 227, 227);
}